---
import Image from './common/Image.astro';

// import { SITE } from 'astrowind:config';
// export interface Props {
//   image?: string | unknown; // TODO: find HTMLElementProps
// }

// const image = Astro.slots.render({src:'~/assets/images/hero-image.png', alt: 'AstroWind Hero Image'}),
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <div>
    {
      (
        <div class="relative m-auto max-w-5xl">
          <Image
            class="mx-auto rounded-md w-full"
            widths={[400, 768, 1024, 2040]}
            sizes="(max-width: 767px) 300px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
            loading="eager"
            width={400}
            height={'auto'}
            {...{ src: '~/assets/images/EFPV-LogoTira.png', alt: 'AstroWind Hero Image' }}
          />
        </div>
      )
    }
  </div>
  <!-- image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }} -->
  <!-- 🚀 {SITE?.name} -->
</span>
